VITE_GOOGLE_ID = <google-auth-id>
VITE_USER_URL = <user-base-url>
VITE_ADMIN_URL = <admin-base-url>
VITE_CLOUD_NAME = <cloudinary-cloud-name>
VITE_CLOUD_PRESET = <cloudinary-upload-preset>
VITE_STRIPE_KEY = <stripe-payment-key>